[submodule "lib/GladNet2"]
	path = lib/GladNet2
	url = https://github.com/HelloKitty/GladNet2.0.git
[submodule "lib/LoggingServices"]
	path = lib/LoggingServices
	url = https://github.com/HelloKitty/.NetLoggingServices.git
	branch = Net-3.5
[submodule "lib/Net35Essentials"]
	path = lib/Net35Essentials
	url = https://github.com/HelloKitty/.Net3.5Essentials.git
