[submodule "lib/LoggingServices"]
	path = lib/LoggingServices
	url = git://github.com/HelloKitty/.NetLoggingServices.git
[submodule "lib/Lidgren"]
	path = lib/Lidgren
	url = git://GitHub.com/HelloKitty/lidgren-network-gen3.git
	branch = Unity
