[submodule "lib/Lidgren"]
	path = lib/Lidgren
	url = git://github.com/HelloKitty/lidgren-network-gen3.git
	branch = Unity
[submodule "lib/LoggingServices"]
	path = lib/LoggingServices
	url = git://github.com/HelloKitty/.NetLoggingServices
	branch = Net-3.5
[submodule "lib/Net35Essentials"]
	path = lib/Net35Essentials
	url = git://github.com/HelloKitty/.Net3.5Essentials.git
