<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Booma.Common.ServerSelection" version="1.0.0" targetFramework="net35" />
  <package id="Booma.Payloads.Common" version="1.0.6" targetFramework="net35" />
  <package id="Booma.Payloads.ServerSelection" version="1.0.6" targetFramework="net35" />
  <package id="Easyception" version="2.0.0" targetFramework="net35" />
  <package id="GladNet.Common" version="2.0.32" targetFramework="net35" />
  <package id="GladNet.Encryption" version="2.0.32" targetFramework="net35" />
  <package id="GladNet.Message" version="2.0.32" targetFramework="net35" />
  <package id="GladNet.Payload" version="2.0.32" targetFramework="net35" />
  <package id="GladNet.Serializer" version="2.0.32" targetFramework="net35" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net35" />
  <package id="NUnit" version="3.0.1" targetFramework="net35" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net35" />
</packages>